/*
This is a live demo of the postcss-atomised plugin.
It takes a normal stylesheet (this one) and creates a new one that reduces the original to an atomic set of classes (middle column), plus a map of the original classes to the atomic ones (right hand column).
this column is fully editable – have a play.
To report issues and for more information, See https://github.com/atomised-css/postcss-atomised.
*/

.red {
    color: red;
}

/* resolves duplicate properties */
.definitely-red {
    color: blue;
    color: red;
}

/* resolves overriden properties and grouped selectors */
.red-1 {
    color: blue;
}

.red-1, .blue-1 {
    color: red;
}

.blue-1 {
    color: blue;
}

/* handles pseudos */
.red-unless-active {
    color: red;
}

.red-unless-active:active {
    color: blue;
}

/* handles at-rules */
.red-unless-big {
    color: red;
}

@media (min-width: 960px) {
    .red-unless-big {
        color: blue;
    }
    body {
        color: blue;
    }
    p {
        color: green;
    }
}

@supports (display: flex) {
    .flex {
        display: flex;
    }
}

/* passes un-atomiseable selectors straight through */
body {
    color: red;
}

.parent > .child {
    color: red;
}

/* passes @font-faces straight through */
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('') format('woff2');
}

.red-ubuntu-mono {
    font-family: 'Ubuntu Mono';
    color: red;
}
