* {
    font-family: menlo, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
}
html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page,
.output {
    display: flex;
    flex-direction: column;
}

.header {
    padding: .5rem 1rem;
    font-size: 16px !important;
    font-weight: normal;
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.header a {
    color: red;
    text-decoration: none;
    float: right;
    top: 4px;
    position: relative;
}

.version {
    float: right;
    top: 4px;
    left: -.5rem;
    position: relative;
    text-transform: lowercase;
}

.code {
    display: flex;
    flex: 1;
    background-color: white;
}

.editor,
.output-css,
.output-json {
    flex: 1;
    height: auto;
    position: relative;
    background-color: white;
}

.editor,
.output-css {
    border-right: 1px solid black;
}

.output {
    flex: 2;
}

.output-panels {
    display: flex;
    flex: 1;
    position: relative;
}

.output-messages {
    padding: .25rem .5rem;
    color: white;
    background-color: black;
    font-size: 9px;
    text-transform: uppercase;
}

